* {
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  text-align: center;
}

body {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf) no-repeat center center fixed;
  background-size: cover;
}

.hidden {
  display: none !important;
}

header {
  margin-top: 50px;
  margin-bottom: 10%;
}

h1, h2 {
  color: #ffffff;
}

p {
  color: #000000;
}

section {
  background-color: #ffffff;
  border-radius: 10px;
}

.message {
  padding-top: 10px;
  margin-top: 15px;
  margin-bottom: 50px;
  width: 50%;
  min-height: 90px;
}

form {
  display: flex;
  justify-content: center;
  padding: 5px;
}

fieldset {
  border: 0px;
}

#affirmations-label {
  padding-left: 10px;
}

#mantras-label {
  padding-left: 10px;
}

button {
  color: #ffffff;
  background-color: #134d71;
  border-color: #134d71;
  border-radius: 4px;
  padding: 3px 25px;
}

button:hover {
  color: #134d71;
  background-color: #ffffff;
}

.output {
  margin-top: 10%;
  margin-bottom: 150px;
  width: 70%;
  min-height: 135px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.messageText {
  font-size: 24px;
}

img {
  max-height: 75px;
  max-width: 75px;
}
