* {
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  text-align: center;
}

body {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

header {
  margin-top: 10%;
  margin-bottom: 10%;
}

h1, h2 {
  color: #ffffff;
}

p {
  color: #000000;
}

section {
  background-color: #ffffff;
  border-radius: 10px;
}

.message {
  padding-top: 10px;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 60%;
  min-height: 90px;
}

form {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

#affirm {
  color: red;
}

#mantra {
  color: purple;
}

button {
  color: #ffffff;
  background-color: #134d71;
  border-color: #134d71;
  border-radius: 4px;
  padding: 3px 25px;
  margin-top: 5px;
}

button:hover {
  color: #134d71;
  background-color: #ffffff;
}

.output {
  margin-top: 5%;
  margin-bottom: 15%;
  width: 85%;
  min-height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageText {
  color: #000000;
  font-size: 20px;
}

img {
  max-height: 75px;
  max-width: 75px;
  /* margin-top: 30px;
  margin-bottom: 30px; */
}


/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
