/* OVERARCHING STYLES */
* {
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
}

body {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf) no-repeat center center fixed;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

h1, h2 {
  color: #ffffff;
}

.hidden {
  display: none !important;
}

.error {
  color: red;
  padding: 5px;
  text-align: center;
}

/* BUTTON STYLES */
button {
  color: #ffffff;
  background-color: #134d71;
  border-color: #134d71;
  border-radius: 4px;
  padding: 3px 25px;
  margin: 5px;
}

#clear, #enter {
  color: #134d71;
  background-color: #ffffff;
}

button#receive:hover {
  box-shadow: inset 0px 0px 10px #000000;
}

button#clear:hover {
  box-shadow: 0px 0px 10px #000000;
}

button#enter:hover {
  box-shadow: 0px 0px 10px #000000;
}

/* LOGIN PAGE STYLES */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding-top: 10px;
  color: #FFFFFF;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#enter {
  margin: 10px;
}

/* MAIN PAGE STYLES: FORM */
#greeting, .message-text {
  animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.message-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.message {
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 5px;
  margin-top: 15px;
  width: 50%;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

form {
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: #000000;
}

fieldset {
  border: 0px;
}

#affirmations-label {
  padding-left: 10px;
}

#mantras-label {
  padding-left: 10px;
}

.buttons {
  display: flex;
}

/* MAIN PAGE STYLES: OUTPUT */
.output {
  background-color: #ffffff;
  border-radius: 10px;
  width: 70%;
  min-height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.messageText {
  font-size: 24px;
  color: #000000;
}

img {
  max-height: 75px;
  max-width: 75px;
}
